doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='rugby, sports, amateur sports, club, lgbt, lgbt friendly, gay, minneapolis, twin cities, minnesota')
    meta(name='author', content='Edgar A. Cobos')
    title='Minneapolis Mayhem Rugby'
    script(src="js/google-analytics.js")
    script(async src="js/autotrack.js")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,600")
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/scrolling-nav.css')

  body(id='page-top', data-spy='scroll', data-target='.navbar-fixed-top')
    block Body
    footer Minneapolis Mayhem Rugby Football Club 2017
    script(src="js/jquery.js")
    script(src="js/bootstrap.min.js")
    script(src="js/jquery.easing.min.js")
    script(src="js/scrolling-nav.js")
    script(src="js/fb-messenger.js")
    script(src="js/google-calendar.js")