.row
    div(class="col-xs-12 col-md-6")
        div(class="panel panel-primary")
            div(class="panel-heading") Next Event!
            div(class="panel-body" id="cal-next-event")
    div(class="col-xs-12 col-md-6" id="cal-events")
        div(class="panel panel-info")
            .panel-heading Events
            .panel-body
                table(class="table table-hover")
                    tbody