header(class="intro-header btn btn-default page-scroll" href="#contact" style="background-image: url('images/Mayhem_11.JPG')")
    .container
        .row
            div(class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1")
                .site-heading
                    h1 Clean Blog
                    hr(class="small")
                    span(class="subheading") A Clean Blog Theme