.row
    div(class="col-xs-12 col-md-4" id="saloon-logo" )
        img(src="images/saloon-logo.svg" class="img-responsive center-block")
    div(class="col-xs-12 col-md-4" id="lavender-logo" )
        img(src="images/lavender-logo.png" class="img-responsive center-block")
    div(class="col-xs-12 col-md-4" id="lions-logo" )
        img(src="images/lions_academy-logo.jpg" class="img-responsive center-block")